{% extends "layout.html" %}
{% block content %}


<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1 rs1-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(static/images/slide-03.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-202 cl2 respon2">
                                Men Collection 2018
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                                New arrivals
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                            <a href="#searchjob"
                                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(static/images/slide-02.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-202 cl2 respon2">
                                Men New-Season
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                                Jackets & Coats
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a href="#searchjob"
                                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(static/images/slide-04.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-202 cl2 respon2">
                                Women Collection 2018
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                                NEW SEASON
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a href="#searchjob"
                                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- card -->
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="py-5">
                <h3 class="ltext-103 cl5">
                    Recent Jobs
                </h3>
            </div>
        </div>
        {% for job in recentJobs %}
        <div class="col-md-4">
            <div class="product-item">
                <div class="down-content">
                    <a href="{{job.jobLink}}">
                        <h4>{{job.title}}</h4>
                    </a>


                    <h6>{{job.salary}}</h6>

                    <!--                    <h4><small><i class="fa fa-briefcase"></i> Medical / Health Jobs <br> <strong><i-->
                    <!--                            class="fa fa-building"></i> {{job.company}}</strong></small></h4>-->
                    <h4><small><strong><i class="fa fa-building"></i> {{job.company}}</strong></small></h4>

                    <small>
                        <!--                        <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;-->
                        <strong title="Type"><i class="fa fa-file"></i> {{job.type}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                        <strong title="Location"><i class="fa fa-map-marker"></i> {{job.location}}</strong>
                    </small>
                </div>
            </div>
        </div>
        {%endfor%}

    </div>

</div>
<!-- Product -->
<section class="bg0 p-t-23 p-b-140" id="searchjob">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Search
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                    <a href="{{ url_for('location' , loc = 'any') }}">All</a>

                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                    <a href="{{ url_for('location' , loc = 'sindh') }}">Sindh</a>

                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                    <a href="{{ url_for('location' , loc = 'karachi') }}">karachi</a>

                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                    <a href="{{ url_for('location' , loc = 'Lahore') }}">Lahore</a>

                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                    <a href="{{ url_for('location' , loc = 'Punjab') }}">Punjab</a>
                </button>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                    <a href="{{ url_for('location' , loc = 'Peshawar') }}">Peshawar</a>
                </button>

            </div>

            <div class="flex-w flex-c-m m-tb-10">


                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>

            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <form action="/title" method="post">
                    <div class="bor8 dis-flex p-l-15">
                        <button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>

                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
                            placeholder="Search">
                    </div>
                </form>
            </div>

        </div>

      
         <div class="row  ">
            {% for job in selectedjobs %}
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card shadow rounded">
                    <div class="card-header">
                        <h4><small><i class="fa fa-building"></i> {{job.company}}</small></h4>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{job.title}} 
                        {% if job.type %}
                        <small class="text-success">{{job.type}}</small>
                        {%else%}
                        <span></span>
                        {%endif%}
                      </h5>
                      <p class="card-text">
                        {% if job.salary %}
                        <span class="text-success"><i class="fa fa-money"></i> {{job.salary}}</span>
                        {%else%}
                        <span class="text-danger">No salary found</span>
                        {%endif%}
                      </p>
                      <button data-toggle="modal" data-target="#modaldetailed{{job.dataJk}}" class="btn btn-outline-primary btn-sm mt-3">See Details</button>
                      <a href="{{job.jobLink}}" target="blank" class="btn btn-outline-primary btn-sm mt-3">
                        Get job
                      </a>
                    </div>
                    <div class="card-footer">
                        <h4><small>
                            {%if job.location %}
                            <i class="fa fa-map-marker"></i> {{job.location}}
                            {% else %}
                            <span>No Location found</span>
                            {%endif%}
                        </small></h4>
                    </div>
                  </div>
                  <!-- modal -->
                  <div class="modal fade" id="modaldetailed{{job.dataJk}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              {{job.company}}
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary"
                                  data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            {%endfor%}
        </div> 
    

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a href="{{ url_for('loadmore') }}"
                class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Load More
            </a>
        </div>

    </div>
</section>



{% endblock %}

{% block headerClass %}header-v2{% endblock %}